@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Poppins&display=swap');

:root {
    --mainBg: linear-gradient(#010208, #010206, #040008, #010101, #010101, #010101, #010101);
    --headerFont: 'Aldrich', sans-serif;
    --secondaryFont: 'Poppins', sans-serif;
    --btnGradient: linear-gradient(#BC3CD8, #C54B8C);
    --btnBorderradius: 5px;
    --textHover: #f85febee;
    --transitionAll: all .3s ease;
    --secondaryFontSize: 20px;
    --headerFontSize: 50px;
    --commonFontSize: 20px;
    --commonFontWeight: 400;
    --btnHover: 0px 0px 50px 0px rgb(222, 124, 241);
    --bigBoxGradient : linear-gradient(#b936f531, #3d1d4b, #2d113afb);
    --bigBoxBorderRadius : 10px;
    --bigBoxShadow: 2px 2px 3px inset black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    background: var(--mainBg);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: var(--secondaryFont);
}

/* this is for navbar  */

nav {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-right: 30px;
}

nav>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav>.logo {
    width: 10%;
}

nav>.logo>img {
    height: 30%;
    width: auto;
}

nav>.nav-options {
    width: 30%;
    font-size: 18px;
}

.nav-options>span {
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transitionAll);
}

.nav-options>span:hover {
    color: var(--textHover);
    cursor: pointer;
}

.nav-options>span>button {
    height: 100%;
    width: 100%;
    background: var(--btnGradient);
    border-radius: var(--btnBorderradius);
    color: white;
    cursor: pointer;
    border: none;
}

.nav-options>span>button:hover {
    box-shadow: var(--btnHover);
}


/* this is for landing first conaine  */
.landing-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-text {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landing-text>h1 {
    height: 35%;
    font-size: 70px;
    font-family: var(--headerFont);
}

.landing-text>h3 {
    font-size: var(--secondaryFontSize);
    font-weight: var(--commonFontWeight);
    width: 80%;
}

.landing-text>.landing-btns-box {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.landing-btns-box>button {
    height: 70%;
    width: 35%;
    font-size: var(--commonFontSize);
    border-radius: var(--btnBorderradius);
    background: var(--btnGradient);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transitionAll) !important;
    border: none;
}

.landing-btns-box>button:nth-child(2) {
    background: transparent;
}

.landing-btns-box>button:nth-child(1):hover {
    box-shadow: var(--btnHover);
}

.landing-btns-box>button:nth-child(2):hover {
    color: var(--textHover);
}

.landing-people-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20%;
}

.landing-people-box>div {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.landing-people-box>div:nth-child(2) {
    width: 60%;
}

.landing-people-box>div>span {
    height: 45%;
    width: 25%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.landing-people-box>div>span:nth-child(1) {
    transform: translateX(0%);
}

.landing-people-box>div>span:nth-child(2) {
    transform: translateX(80%);
}

.landing-people-box>div>span:nth-child(3) {
    transform: translateX(160%);
}

.landing-people-box>div>span:nth-child(4) {
    transform: translateX(240%);
}

.landing-people-box>div>span>img {
    height: 100%;
    width: 150%;
}

.landing-people-box>div>li {
    font-size: var(--commonFontSize);
}

.landing-people-box>div>li::marker {
    font-size: 2rem;
    font-weight: bolder;
}


.landing-image {
    height: 100%;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing-image>img {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10%;
    top: 6%;
}

.landing-image>div {
    height: 100%;
    width: 90%;
    position: relative;
}

.landing-image>div>.image-circle {
    height: 550px;
    width: 550px;
    border: 3px solid rgb(217, 133, 238);
    box-shadow: 2px 2px 3px rgb(186, 34, 216);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    transform: translateX(-46%) translateY(-3%) rotateX(50deg) rotateY(18deg) rotateZ(-60deg);
    border-radius: 50%;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.landing-image>div>img {
    height: 52%;
    width: 80%;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-49%, 30%);
}

.landing-image>div .image-under-text {
    height: 60%;
    width: 73%;
    /* background: #772cee; */
    background: linear-gradient(50deg, rgba(119, 44, 238, 1) 91%, rgba(10, 38, 64, 0.00043767507002800965) 92%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-48%);
    z-index: 1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.image-under-text>.under-text {
    height: 45%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 15%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    flex-direction: column;
}

.image-under-text>.under-text>span {
    height: 3px;
    width: 80%;
    border-radius: 3px;
    background: white;
}

.image-under-text>.under-text>h1 {
    font-family: var(--headerFont);
    font-weight: 500;
}

.image-under-text>.under-text>h3 {
    width: 70%;
    font-size: 18px;
    font-weight: 300;
}

/* this is for container 2 */
.container-2 {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2-images {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.diamond-img {
    position: absolute;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: white;
    font: 48px sans-serif;
    outline: 1px solid rgb(222, 124, 241);
    outline-offset: 10px;
    background-position: center;
    background-size: cover;
}

.diamond-img::before {
    content: "\00a0";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent black transparent transparent;
}

.diamond-img::after {
    content: "\00a0";
    position: absolute;
    top: -6%;
    right: -12%;
    border: 1px;
    border-style: solid;
    height: 40px;
    width: 62px;
    border-color: transparent transparent rgb(222, 124, 241) transparent;
    transform: rotate(45deg);
    background: black;
}

.diamond-img:nth-child(1) {
    top: 4%;
    left: 5%;
    background-image: url("images/vr1.png");
}

.diamond-img:nth-child(2) {
    top: 30%;
    left: 52%;
    background-image: url("images/vr2.png");
}

.container-2-text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container-2-text-inner {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container-2-text-inner>h1 {
    width: 85%;
    font-family: var(--headerFont);
    font-size: var(--headerFontSize);
    font-weight: 500;
}

.container-2-text-inner>h3 {
    font-size: var(--commonFontSize);
    font-weight: var(--commonFontWeight);
    width: 65%;
}

.container-2-text-inner>button {
    font-size: var(--commonFontSize);
    border-radius: var(--btnBorderradius);
    background: var(--btnGradient);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transitionAll) !important;
    border: none;
    height: 9%;
    width: 35%;
}

.container-2-text-inner>button:hover {
    box-shadow: var(--btnHover);
}

/* this is for container 3 */
.container-3-header-box {
    height: 25vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.diamond-box {
    position: relative;
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    color: white;
    background-position: center;
    background-size: cover;
    background: #534686;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #FFFFFF, #AA14F0);
}

.diamond-box::before {
    content: "\00a0";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 50px;
    height: 50px;
    border: none;
    background: linear-gradient(45deg, rgba(83, 70, 134, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%);
}

.dimond-box-text {
    width: 65%;
    height: 100%;
    font-size: 45px;
    font-family: var(--headerFont);
    display: flex;
    align-items: center;
}

.dimond-box-img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dimond-box-img>img {
    height: 80%;
    width: 80%;
    border-radius: 20px 60px 20px 20px;
}

/* this is for container 3  */
.container-3 {
    height: 130vh;
    width: 100vw;
}

.container-3>h1 {
    box-sizing: border-box;
    padding-left: 50px;
    height: 10%;
    display: flex;
    align-items: center;
}

.container-3-cards-box {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.tilt-box-wrap {
    height: 400px;
    width: 550px;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}

.tilt-box-wrap:hover {
    transition: all .3s linear;
    transform: scale(1.1);
}

.tilt-box {
    width: 100%;
    height: 100%;
    /* background: transparent; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
    transition: all .5s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(192, 192, 192, 0.295);
}

.tilt-box>img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.tilt-box>.tilt-box-text {
    position: absolute;
    left: 5%;
    bottom: 5%;
    transform: translateZ(40px);
    z-index: 2;
    width: 50%;
    height: 25%;
    text-align: start;
    font-weight: 200;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-sizing: border-box;
    padding: 10px;
}

.tilt-box>.tilt-box-text>h4 {
    font-weight: 100;
    text-decoration: underline;
    margin-bottom: 5px;
    font-family: var(--headerFont);
}

.tilt-box>.tilt-box-text>span {
    font-weight: 100 !important;
    font-size: 10px;
}

.t_over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}

.t_over:hover~.tilt-box {
    box-shadow: 0px 0px 70px -20px rgb(208, 99, 241);
}

.t_over:nth-child(1) {
    left: 0;
    top: 0;
}

.t_over:nth-child(2) {
    left: 33.333%;
    top: 0;
}

.t_over:nth-child(3) {
    left: 66.666%;
    top: 0;
}

.t_over:nth-child(4) {
    left: 0;
    top: 33.333%;
}

.t_over:nth-child(5) {
    left: 33.333%;
    top: 33.333%;
}

.t_over:nth-child(6) {
    left: 66.666%;
    top: 33.333%;
}

.t_over:nth-child(7) {
    left: 0;
    top: 66.666%;
}

.t_over:nth-child(8) {
    left: 33.333%;
    top: 66.666%;
}

.t_over:nth-child(9) {
    left: 66.666%;
    top: 66.666%;
}

.t_over:nth-child(1):hover~.tilt-box {
    transform: rotateX(-10deg) rotateY(10deg);
}

.t_over:nth-child(2):hover~.tilt-box {
    transform: rotateX(-10deg) rotateY(0deg);
}

.t_over:nth-child(3):hover~.tilt-box {
    transform: rotateX(-10deg) rotateY(-10deg);
}

.t_over:nth-child(4):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(10deg);
}

.t_over:nth-child(5):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(-10deg);
}

.t_over:nth-child(7):hover~.tilt-box {
    transform: rotateX(10deg) rotateY(10deg);
}

.t_over:nth-child(8):hover~.tilt-box {
    transform: rotateX(10deg) rotateY(0deg);
}

.t_over:nth-child(9):hover~.tilt-box {
    transform: rotateX(10deg) rotateY(-10deg);
}


/* this is for container 4  */

.container-4{
    height: 130vh;
    width: 100vw;
}

.container-4-testimonials{
    height: 65%;
    width: 100%;
    position: relative;
}

.testimonial-box{
    height: 70%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    background:var(--bigBoxGradient);
    border-radius: var(--bigBoxBorderRadius);
    border: 1px solid rgba(192, 192, 192, 0.384);
}

.testimonial-box > h1{
    text-align: center;
    font-size: 45px;
    font-family: var(--headerFont);
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}
.testimonial-box > h3{
    height: 10%;
    width: 70%;
    font-size: var(--commonFontSize);
    font-weight: var(--commonFontWeight);
    text-align: center;
}

.testimonial{
    height: 60%;
    width: 30%;
    position: absolute;
    bottom: -20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    background:var(--bigBoxGradient) ;
    border-radius: var(--bigBoxBorderRadius);
    border: 1px solid rgba(192, 192, 192, 0.384);
}

.testimonial-box div:nth-child(1n) {
    left: 68%;
}
.testimonial-box div:nth-child(2n) {
    left: 35%;
}
.testimonial-box div:nth-child(3n) {
    left: 2%;
}

.testimonial > img{
    position: absolute;
    top: -10%;
    left:-2%;
    height: 40%;
    width: 40%;
    display: inline;
}
.testimonial>h4{
    font-size: var(--commonFontSize);
    font-weight: var(--commonFontWeight);
}
.testimonial>div{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.testimonial>div>div{
    height: 80%;
    width: 17%;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
.testimonial>div>span>h4{
    font-weight: 400;
}
.testimonial>div>span>h5{
    font-weight: 400;
    color: #EB4468;
}

.testimonial>div>div>img{
    height: 100%;
    width: 150%;
    transform: translateX(-20%);
}

.container-4-features{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-text{
    height:100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features-text>h1{
    font-size: var(--headerFontSize);
    font-weight:400;
    width:80%;
}
.features-text>h1>i{
    font-size: 30px;
}
.features-text>h3{
    font-size:25px;
    font-weight:200;
    width:80%;
}

.features-icons{
    height:100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-container{
    height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.icons-container > span{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.icons-container > span > h3{
    font-weight: 300;
}

/* this is for footer box  */
.footer-container{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.footer-box{
    height: 75%;
    width: 90%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: var(--bigBoxBorderRadius);
    border: 1px solid rgba(192, 192, 192, 0.281);
}
.footer-box::after{
    content: '';
    height: 100%;
    width: 100%;
    border-radius: var(--bigBoxBorderRadius);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgb(119,70,134);
    background: linear-gradient(90deg, rgba(75, 41, 85, 0.753) 10%, rgba(21, 14, 24, 0.801) 50%, rgba(255, 254, 254, 0) 50%);
}
.footer-box-text{
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding-left: 30px;
}
.footer-box-text > h1{
    font-size: var(--headerFontSize);
    font-family: var(--headerFont);
    width: 75%;
}
.footer-box-text > h3{
    font-size: var(--commonFontSize);
    font-weight: var(--commonFontWeight);
}
.footer-box-text > .input-box{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.input-box > input{
    height: 50%;
    width: 60%;
    border-radius: var(--btnBorderradius);
    border: none;
    background: transparent;
    border: 1px solid rgba(192, 192, 192, 0.295);
    color: white;
    font-size:var(--commonFontSize);
    padding: 0 10px;
    font-weight: 300;
    outline: none;
}
.input-box > button{
    height: 50%;
    width: 30%;
    font-size: var(--commonFontSize);
    background: var(--btnGradient);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transitionAll) !important;
    border: none;
    border-radius: var(--btnBorderradius);
}
.input-box > button:hover{
    box-shadow: var(--btnHover);
}
.footer-box > img{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.footer{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer > div > span{
    color: red;
}
.footer > .socials{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.footer > .socials > span{
    color: #534686;
    font-size: 30px;
    cursor: pointer;
    transition: var(--transitionAll);
}
.footer > .socials > span:hover{
    /* text-shadow:  rgba(223,65,213,0.9) -4px -2px 2px,
    rgba(152, 65, 223, 0.9) 4px 2px 2px; */
    text-shadow: rgba(240, 46, 169, 0.616) 2px 2px, rgba(240, 46, 169, 0.562) 4px 4px, rgba(240, 46, 169, 0.418) 6px 6px, rgba(240, 46, 169, 0.267) 8px 8px, rgba(240, 46, 169, 0.226) 10px 10px;
}
.footer > .socials > span:hover i{
    transform: scale(1.1);
}
.footer > .socials > span > a{
    text-decoration: none;
    color: #534686;
}
.footer > .socials > span > a:active{
    color: #534686;
}
.footer > .socials > span > a:visited{
    color: #534686;
}